# --- For-Bot-Working --------- #
pyrofork
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo==2.3.45
motor
umongo
marshmallow
dnspython
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
